.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid red;
    width: 250px;
    height: 250px;
    
}
.wrapper div{
border:2px solid #23272A;


}
